<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Give someone a high-five</string>
	<string>Give someone a hug</string>
	<string>Smile at someone</string>
	<string>Take somone out to lunch</string>
	<string>Be extra nice to someone</string>
	<string>Give a donation of any amount</string>
	<string>Spend some time alone</string>
	<string>Choose silence today over a harsh remark</string>
	<string>Promote a loving atmosphere in your home</string>
	<string>Share your knowledge</string>
	<string>Help someone</string>
	<string>Do a spontaneous act of kindness</string>
	<string>Give way to another driver</string>
	<string>Read a spiritual book</string>
	<string>Practice spiritual meditation</string>
</array>
</plist>
